<include file="Public:header" />
<include file="Public:leftMenu" />
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> </div>
	  </div>
	  <div class="container-fluid">
		<div class="row-fluid">
		  <div class="span12">
	        <div class="widget-box">
	          <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
	            <h5>{:L('TEXT_WELCOME_TITLE')}</h5>
	          </div>
	          <div class="widget-content">{:L('TEXT_WELCOME_CONTENT')}</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
<include file="Public:footer" />