<include file="Public:header" />
<include file="Public:leftMenu" />
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb"> <a href="{:U('Index/index')}" title="{:L('text_goto_home')}" class="tip-bottom"><i class="icon-home"></i> {:L('TEXT_HOME')}</a> <a href="{:U('Shop/shopList')}" >{:L('TITLE_SHOP')}</a> <a class="current">{:L('TITLE_ADD_SHOP')}</a> </div>
	  </div>
	  <div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
		      <div class="widget-box">
		         <form action="{:U('Shop/addShop')}" method="post" class="form-horizontal" id="addShopForm" enctype="multipart/form-data">
		        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
		          <h5>{:L('TITLE_ADD_SHOP')}</h5>
		        </div>
		        <div class="widget-content nopadding">
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_TITLE')}</label>
		              <div class="controls">
		                <input type="text" name="title" placeholder="{:L('INPUT_ADD_SHOP_TITLE')}" class="span11">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_TYPE')}</label>
		              <div class="controls">
		              	<select name="type">
							<option value="1">购物</option>
							<option value="2">美食</option>
							<option value="3">酒店</option>
							<option value="4">景点</option>
		              	</select>
		              </div>
		            </div>		        
		            
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_OPEN_TIME')}</label>
		              <div class="controls">
		                <input type="text" name="open_time" placeholder="{:L('INPUT_OPEN_TIME')}" class="span11">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_TEL')}</label>
		              <div class="controls">
		                <input type="text" name="tel" placeholder="{:L('INPUT_SHOP_TEL')}" class="span11">
		              </div>
		            </div>          

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_TAG')}</label>
		              <div class="controls">
		                <input type="text" name="tag_name" placeholder="{:L('INPUT_SHOP_TAG')}" class="span11">
		              </div>
		            </div>	    

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_URL')}</label>
		              <div class="controls">
		                <input type="text" name="sale_url" placeholder="{:L('INPUT_SHOP_URL')}" class="span11">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_AREA')}</label>
		              <div class="controls">
		              	<select name="area">
		              		<volist name="area" id="item">
		              			<option value="{$item.area}">{$item.area}</option>
		              		</volist>
		              	</select>
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_CATEGORY')}</label>
		              <div class="controls">
		              	<select name="category">
		              		<volist name="category" id="item">
		              			<option value="{$item.category}">{$item.category}</option>
		              		</volist>
		              	</select>
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_AVG_PRICE')}</label>
		              <div class="controls">
						<input type="text" name="avg_price" placeholder="{:L('INPUT_SHOP_AVG_PRICE')}" class="span11">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_AVG_RATING')}</label>
		              <div class="controls">
		              	<select name="avg_rating">
		              		<?php for ($i=0.5; $i <= 5; $i = $i+0.5) { ?>
								<option value="{$i}">{$i}</option>
		              		<?php }?>
		              	</select>
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_ADDRESS')}</label>
		              <div class="controls">
		              	<input type="text" name="address" placeholder="{:L('INPUT_SHOP_ADDRESS')}" class="span11" />
		              </div>
		            </div>



		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_IMAGE')}</label>
		              <div class="controls">
		                <input type="file" name="image" />
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_SHOP_DESCRIPTION')}</label>
		              <div class="controls">
		              	<textarea name="shopDescription"></textarea>
		              </div>
		            </div>

		            <div class="form-actions">
		              <button type="submit" class="btn btn-success">Save</button>
		            </div>
		        </div>

		    	</form>
		      </div>
			</div>
		</div>
	  </div>
	</div>
<link rel="stylesheet" href="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/themes/default/default.css" />
<script charset="utf-8" src="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">

	var editorZH, editorJP;
	KindEditor.ready(function(K) {
		editorZH = K.create('textarea[name="shopDescription"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			uploadJson: "<?php echo C('ADMIN_WEBSITE').U('Product/uploadIMG');?>",
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
		});

		$('.ke-container').width('600px');
	});
</script>
<include file="Public:footer" />