<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/jquery.ui.custom.js"></script> 
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/bootstrap.min.js"></script> 
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/bootstrap-colorpicker.js"></script> 
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/bootstrap-datepicker.js"></script> 
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/jquery.uniform.js"></script>
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/masked.js"></script>  
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/select2.min.js"></script> 
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/jquery.dataTables.min.js"></script> 
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/jquery.validate.js"></script> 
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/matrix.js"></script> 
<!-- <script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/matrix.form_common.js"></script>  -->
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/matrix.tables.js"></script>
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/matrix.login.js"></script> 
<script src="{:C('ADMIN_WEBSITE')}__PUBLIC__js/matrix.form_validation.js"></script>
</body>
</html>