<include file="Public:header" />
<include file="Public:leftMenu" />
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb"> <a href="{:U('Index/index')}" title="{:L('text_goto_home')}" class="tip-bottom"><i class="icon-home"></i> {:L('TEXT_HOME')}</a> <a href="{:U('Product/prodList')}" >{:L('TITLE_PRODUCT')}</a> <a class="current">{:L('TITLE_ADD_PRODUCT')}</a> </div>
	  </div>
	  <div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
		      <div class="widget-box">
		         <form action="{:U('Product/addProduct')}" method="post" class="form-horizontal" id="addProduct_form" enctype="multipart/form-data">
		        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
		          <h5>{:L('TITLE_ADD_PRODUCT')}</h5>
		          <button class="btn btn-inverse btn-mini" onclick="selectForm('zh');return false;" id="zhSelectFormBtn">{:L('TEXT_LANGUAGE_ZH')}</button>
		          <button class="btn btn-mini" onclick="selectForm('jp');return false;" id="jpSelectFormBtn">{:L('TEXT_LANGUAGE_JP')}</button>
		        </div>
		        <div class="widget-content nopadding" id="zhAddProForm" style="display:block;">
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_TITLE')}</label>
		              <div class="controls">
		                <input type="text" name="titleZH" id="title" placeholder="{:L('INPUT_ADD_PRODUCT_TITLE')}" class="span11">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_PRICE')}</label>
		              <div class="controls">
		                <input type="text" name="priceZH" placeholder="{:L('INPUT_ADD_PRODUCT_PRICE')}" class="span11">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SHIPPING')}</label>
		              <div class="controls">
		                <select name="shippingTypeZH">
		                <volist name="shipping_list" id="item" >
		                  <option value="{$item.id}">{$item.name}</option>
		                 </volist>
		                </select>
		              </div>
		            </div>
		            <!-- 评论数 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_COMMENTS')}</label>
		              <div class="controls">
		                <input type="text" name="comments" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->
		            <!-- 销量数 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SALES')}</label>
		              <div class="controls">
		                <input type="text" name="sales" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->

		            <!-- 浏览量 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_VIEWS')}</label>
		              <div class="controls">
		                <input type="text" name="views" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->
		            <!-- 店铺 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SALER')}</label>
		              <div class="controls">
		                <select name="saler_id">
		                <volist name="saler_list" id="item" >
		                  <option value="{$item.saler_id}">{$item.name}</option>
		                 </volist>
		                </select>
		              </div>
		            </div> -->
		            <!-- 购买链接 -->
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_BUY_URL')}</label>
		              <div class="controls">
		                <input type="text" name="buy_urlZH" id="url" placeholder="{:L('INPUT_ADD_PRODUCT_BUY_URL')}" class="span11">
		              </div>
		            </div>
		            <!-- 是否推荐 -->
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_RECOMMEND')}</label>
		              <div class="controls">
		                <input type="checkbox" name="recommend" class="span11">
		              </div>
		            </div>
		            <!-- 排序 -->
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SORT')}</label>
		              <div class="controls">
		                <input type="input" name="sort" placeholder="{:L('INPUT_ADD_PRODUCT_SORT')}" class="span11">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_TAG')}</label>
		              <div class="controls">
		                <select multiple name="tag[]">
		                <volist name="tag_list" id="item">
		                  <option value="{$item.tid}">{$item.name}</option>
		                </volist>
		                </select>
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_IMAGE')}</label>
		              <div class="controls">
		                <input type="file" name="image" />
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_DESCRIPTION')}</label>
		              <div class="controls">
		              	<textarea name="descriptionZH"></textarea>
		              </div>
		            </div>

		            <div class="form-actions">
		              <button type="submit" class="btn btn-success">Save</button>
		            </div>
		        </div>

		        <div class="widget-content nopadding" id="jpAddProForm" style="display:none;">
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_TITLE_JP')}</label>
		              <div class="controls">
		                <input type="text" name="titleJP" id="titleJP" placeholder="{:L('INPUT_ADD_PRODUCT_TITLE')}" class="span11">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_PRICE_JP')}</label>
		              <div class="controls">
		                <input type="text" name="priceJP" placeholder="{:L('INPUT_ADD_PRODUCT_PRICE')}" class="span11">
		              </div>
		            </div>

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SHIPPING')}</label>
		              <div class="controls">
		                <select name="shipping_type">
		                <volist name="shipping_list" id="item" >
		                  <option value="{$item.id}">{$item.name}</option>
		                 </volist>
		                </select>
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_COMMENTS')}</label>
		              <div class="controls">
		                <input type="text" name="comments" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SALES')}</label>
		              <div class="controls">
		                <input type="text" name="sales" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_VIEWS')}</label>
		              <div class="controls">
		                <input type="text" name="views" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SALER')}</label>
		              <div class="controls">
		                <select name="saler_id">
		                <volist name="saler_list" id="item" >
		                  <option value="{$item.saler_id}">{$item.name}</option>
		                 </volist>
		                </select>
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_BUY_URL')}</label>
		              <div class="controls">
		                <input type="text" name="buy_url" id="url" placeholder="{:L('INPUT_ADD_PRODUCT_BUY_URL')}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_RECOMMEND')}</label>
		              <div class="controls">
		                <input type="checkbox" name="recommend" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SORT')}</label>
		              <div class="controls">
		                <input type="input" name="sort" placeholder="{:L('INPUT_ADD_PRODUCT_SORT')}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_TAG')}</label>
		              <div class="controls">
		                <select multiple name="tag[]">
		                <volist name="tag_list" id="item">
		                  <option value="{$item.tid}">{$item.name}</option>
		                </volist>
		                </select>
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_IMAGE')}</label>
		              <div class="controls">
		                <input type="file" name="image" />
		              </div>
		            </div> -->

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_DESCRIPTION_JP')}</label>
		              <div class="controls">
		              	<textarea name="descriptionJP"></textarea>
		              </div>
		            </div>

		            <div class="form-actions">
		              <button type="submit" class="btn btn-success">Save</button>
		            </div>
		          </form>
		        </div>
		    	</form>
		      </div>
			</div>
		</div>
	  </div>
	</div>
<link rel="stylesheet" href="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/themes/default/default.css" />
<script charset="utf-8" src="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
	function selectForm(selectForm){
		if (selectForm == 'zh') {
			$('#zhAddProForm').show();
			$('#jpAddProForm').hide();
			$('#zhSelectFormBtn').attr('class', 'btn btn-inverse btn-mini');
			$('#jpSelectFormBtn').attr('class', 'btn btn-mini');
		}else{
			$('#zhAddProForm').hide();
			$('#jpAddProForm').show();
			$('#zhSelectFormBtn').attr('class', 'btn btn-mini');
			$('#jpSelectFormBtn').attr('class', 'btn btn-inverse btn-mini');
		}
	}
	var editorZH, editorJP;
	KindEditor.ready(function(K) {
		editorZH = K.create('textarea[name="descriptionZH"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			uploadJson: "<?php echo C('ADMIN_WEBSITE').U('Product/uploadIMG');?>",
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
		});

		$('.ke-container').width('400px');
	});

	KindEditor.ready(function(K) {
		editorJP = K.create('textarea[name="descriptionJP"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			uploadJson: "<?php echo C('ADMIN_WEBSITE').U('Product/uploadIMG');?>",
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
		});

		$('.ke-container').width('400px');
	});
</script>
<include file="Public:footer" />