<include file="Public:header" />
<include file="Public:leftMenu" />
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb"> <a href="{:U('Index/index')}" title="{:L('text_goto_home')}" class="tip-bottom"><i class="icon-home"></i> {:L('TEXT_HOME')}</a> <a href="{:U('Product/prodList')}" >{:L('TITLE_PRODUCT')}</a> <a class="current">{:L('TITLE_ADD_PRODUCT')}</a> </div>
	  </div>
	  <div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
		      <div class="widget-box">
		         <form action="{:U('Product/editPro', array('pid' => $detail['pid']))}" method="post" class="form-horizontal" id="editProduct_form" enctype="multipart/form-data">
		        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
		          <h5>{:L('TITLE_ADD_PRODUCT')}</h5>
		          <button class="btn btn-inverse btn-mini" onclick="selectForm('zh');return false;" id="zhSelectFormBtn">{:L('TEXT_LANGUAGE_ZH')}</button>
		          <button class="btn btn-mini" onclick="selectForm('jp');return false;" id="jpSelectFormBtn">{:L('TEXT_LANGUAGE_JP')}</button>
		        </div>
		        <div class="widget-content nopadding" id="zhAddProForm" style="display:block;">
		            
		            <div class="control-group">
		              <label class="control-label">SKU</label>
		              <div class="controls">
		                <input type="text" name="sku" id="sku" placeholder="请输入sku" class="span11" maxlength="16" value="{$detail.sku}">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_TITLE')}</label>
		              <div class="controls">
		                <input type="text" name="titleZH" id="title" placeholder="{:L('INPUT_ADD_PRODUCT_TITLE')}" class="span11" value="{$detail.title_zh}">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SUB_TITLE')}</label>
		              <div class="controls">
		                <input type="text" name="summary_zh" id="summary_zh" placeholder="{:L('INPUT_ADD_PRODUCT_TITLE')}" class="span11" value="{$detail.summary_zh}">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_PRICE')}</label>
		              <div class="controls">
		                <input type="text" name="priceZH" placeholder="{:L('INPUT_ADD_PRODUCT_PRICE')}" class="span11" value="{$detail.price_zh}">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_WEIGHT')}</label>
		              <div class="controls">
		                <input type="text" name="weight" id="weight" placeholder="{:L('INPUT_ADD_PRODUCT_WEIGHT')}" class="span11" value="{$detail.weight}">g
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_PRODUCT_STOCK')}</label>
		              <div class="controls">
		                <input type="text" name="stock" id="stock" placeholder="{:L('INPUT_ADD_PRODUCT_STOCK')}" class="span11" value="{$detail.stock}">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_PRODUCT_LIMIT')}</label>
		              <div class="controls">
		                <input type="text" name="limit" id="limit" placeholder="{:L('INPUT_PRODUCT_LIMIT')}" class="span11" value="{$detail.limit}">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_PRODUCT_BRAND')}</label>
		              <div class="controls">
		              	<select name="brand">
		              		<volist name="brand" id="item">
		              			<option value="{$item.name}" <eq name="item.name" value="$detail['brand']">selected="true"</eq>>{$item.name}</option>
		              		</volist>
		              	</select>
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_PRODUCT_CATEGORY')}</label>
		              <div class="controls">
		              	<select name="category">
		              		<volist name="category" id="item">
		              			<option value="{$item.name}" <eq name="item.name" value="$detail['category']">selected="true"</eq>>{$item.name}</option>
		              		</volist>
		              	</select>
		              </div>
		            </div>

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SHIPPING')}</label>
		              <div class="controls">
		                <select name="shippingTypeZH">
		                <volist name="shipping_list" id="item" >
		                  <option value="{$item.id}">{$item.name}</option>
		                 </volist>
		                </select>
		              </div>
		            </div> -->
		            <!-- 评论数 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_COMMENTS')}</label>
		              <div class="controls">
		                <input type="text" name="comments" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->
		            <!-- 销量数 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SALES')}</label>
		              <div class="controls">
		                <input type="text" name="sales" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->

		            <!-- 浏览量 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_VIEWS')}</label>
		              <div class="controls">
		                <input type="text" name="views" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->
		            <!-- 店铺 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SALER')}</label>
		              <div class="controls">
		                <select name="saler_id">
		                <volist name="saler_list" id="item" >
		                  <option value="{$item.saler_id}">{$item.name}</option>
		                 </volist>
		                </select>
		              </div>
		            </div> -->
		            <!-- 购买链接 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_BUY_URL')}</label>
		              <div class="controls">
		                <input type="text" name="buy_urlZH" id="url" placeholder="{:L('INPUT_ADD_PRODUCT_BUY_URL')}" class="span11">
		              </div>
		            </div> -->
		            <!-- 是否推荐 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_RECOMMEND')}</label>
		              <div class="controls">
		                <input type="checkbox" name="recommend" class="span11">
		              </div>
		            </div> -->
		            <!-- 排序 -->
<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SORT')}</label>
		              <div class="controls">
		                <input type="input" name="sort" placeholder="{:L('INPUT_ADD_PRODUCT_SORT')}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_TAG')}</label>
		              <div class="controls">
		                <select multiple name="tag[]">
		                <volist name="tag_list" id="item">
		                  <option value="{$item.tid}">{$item.name}</option>
		                </volist>
		                </select>
		              </div>
		            </div> -->
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_IMAGE')}</label>
		              <div class="controls">
							<div id="preview">
								<volist name="detail.path" id="item">
								<div style="display:inline-block;">
									<a href="javascript:" title="删除" onclick="removeImg($(this))">删除</a>
									<br>
									<img src="http://admin.nijigo.com/{$item}" style="width:200px;padding:20px;">
									<input type="hidden" name="imagePath[]" value="{$item}">
								</div>
								</volist>
							</div>
			            <div class="uploadBTN" >
			                <input type="file" name="image" id="bgImage" />
			                <span id="uploadBTN">添加图片</span>
			            </div>
		                <input type="hidden" name="pid" value="{$detail.pid}">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_DESCRIPTION')}</label>
		              <div class="controls">
		              	<textarea name="descriptionZH">{:htmlspecialchars_decode($detail['description_zh'])}</textarea>
		              </div>
		            </div>

		            <div class="form-actions">
		              <button type="submit" class="btn btn-success">Save</button>
		            </div>
		        </div>

		        <div class="widget-content nopadding" id="jpAddProForm" style="display:none;">
		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_TITLE_JP')}</label>
		              <div class="controls">
		                <input type="text" name="titleJP" id="titleJP" placeholder="{:L('INPUT_ADD_PRODUCT_TITLE')}" class="span11" value="{$detail.title_jp}">
		              </div>
		            </div>

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_PRICE_JP')}</label>
		              <div class="controls">
		                <input type="text" name="priceJP" placeholder="{:L('INPUT_ADD_PRODUCT_PRICE')}" class="span11" value="{$detail.price_jp}">
		              </div>
		            </div>

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SHIPPING')}</label>
		              <div class="controls">
		                <select name="shipping_type">
		                <volist name="shipping_list" id="item" >
		                  <option value="{$item.id}">{$item.name}</option>
		                 </volist>
		                </select>
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_COMMENTS')}</label>
		              <div class="controls">
		                <input type="text" name="comments" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SALES')}</label>
		              <div class="controls">
		                <input type="text" name="sales" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_VIEWS')}</label>
		              <div class="controls">
		                <input type="text" name="views" value="{:rand(800, 1200)}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SALER')}</label>
		              <div class="controls">
		                <select name="saler_id">
		                <volist name="saler_list" id="item" >
		                  <option value="{$item.saler_id}">{$item.name}</option>
		                 </volist>
		                </select>
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_BUY_URL')}</label>
		              <div class="controls">
		                <input type="text" name="buy_url" id="url" placeholder="{:L('INPUT_ADD_PRODUCT_BUY_URL')}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_RECOMMEND')}</label>
		              <div class="controls">
		                <input type="checkbox" name="recommend" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_SORT')}</label>
		              <div class="controls">
		                <input type="input" name="sort" placeholder="{:L('INPUT_ADD_PRODUCT_SORT')}" class="span11">
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_TAG')}</label>
		              <div class="controls">
		                <select multiple name="tag[]">
		                <volist name="tag_list" id="item">
		                  <option value="{$item.tid}">{$item.name}</option>
		                </volist>
		                </select>
		              </div>
		            </div> -->

<!-- 		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_IMAGE')}</label>
		              <div class="controls">
		                <input type="file" name="image" />
		              </div>
		            </div> -->

		            <div class="control-group">
		              <label class="control-label">{:L('TEXT_ADD_PRODUCT_DESCRIPTION_JP')}</label>
		              <div class="controls">
		              	<textarea name="descriptionJP">{:htmlspecialchars_decode($detail['description_jp'])}</textarea>
		              </div>
		            </div>

		            <div class="form-actions">
		              <button type="submit" class="btn btn-success">Save</button>
		            </div>
		          </form>
		        </div>
		    	</form>
		      </div>
			</div>
		</div>
	  </div>
	</div>
<link rel="stylesheet" href="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/themes/default/default.css" />
<script charset="utf-8" src="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="{:C('ADMIN_WEBSITE')}__PUBLIC__kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="{:C('API_WEBSITE')}/Public/html/js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript">

        $(document).ready(function() {

            function applyAjaxFileUpload(element, filePath, fileSpan, textInfo) {

                $(element).AjaxFileUpload({
                    action: "<?php echo U('Product/uploadImage');?>"+"&form=tpl1&sign="+$(fileSpan).attr("name"),
                    onChange: function(filename) {
                        var $span = $(textInfo).text('上传中');

                        interval = window.setInterval(function() {
                            var text = $span.text();
                            if (text.length < 13) {
                                $span.text(text + ".");
                            } else {
                                $span.text("上传中");
                            }
                        }, 200);
                    },
                    onSubmit: function(filename) {
                        return true;
                    },
                    onComplete: function(filename, response) {
                        window.clearInterval(interval);
                        console.log(response);
                        var $span = $("span." + $(this).attr("id")).text(filename + " "),
                            $fileInput = $("<input />")
                                .attr({
                                    type: "file",
                                    name: $(this).attr("name"),
                                    id: $(this).attr("id")
                                });

                        if (response.state) {
                            alert(response.msg);
                        }else{

							html = '<div style="display:inline-block;"><a href="javascript:" title="删除" onclick="removeImg($(this))">删除</a><br /><img src="' + response.thumb + '" style="width:200px;padding:20px;" /><input type="hidden" name="imagePath[]" value="'+response.path+'"></div>';

                        	$("#preview").append(html);

                            $(filePath).attr("src", response.thumb);
                            $(fileSpan).val(response.path);

                        }
                        
                        $(textInfo).text('添加图片');
                    }
                });
            }
			applyAjaxFileUpload("#bgImage", "#showPic", "#showPicValue", "#uploadBTN"); 
            
        });
	
	function removeImg(img){
		img.parent().fadeOut(1000, function(){
			img.parent().remove();
		});
	}

	function selectForm(selectForm){
		if (selectForm == 'zh') {
			$('#zhAddProForm').show();
			$('#jpAddProForm').hide();
			$('#zhSelectFormBtn').attr('class', 'btn btn-inverse btn-mini');
			$('#jpSelectFormBtn').attr('class', 'btn btn-mini');
		}else{
			$('#zhAddProForm').hide();
			$('#jpAddProForm').show();
			$('#zhSelectFormBtn').attr('class', 'btn btn-mini');
			$('#jpSelectFormBtn').attr('class', 'btn btn-inverse btn-mini');
		}
	}
	var editorZH, editorJP;
	KindEditor.ready(function(K) {
		editorZH = K.create('textarea[name="descriptionZH"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			uploadJson: "<?php echo C('ADMIN_WEBSITE').U('Product/uploadIMG');?>",
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
		});

		$('.ke-container').width('400px');
	});

	KindEditor.ready(function(K) {
		editorJP = K.create('textarea[name="descriptionJP"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			uploadJson: "<?php echo C('ADMIN_WEBSITE').U('Product/uploadIMG');?>",
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
		});

		$('.ke-container').width('400px');
	});
</script>
<include file="Public:footer" />