<include file="Public:header" />
<include file="Public:leftMenu" />
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb"> <a href="{:U('Index/index')}" title="{:L('text_goto_home')}" class="tip-bottom"><i class="icon-home"></i> {:L('TEXT_HOME')}</a> <a href="{:U('Product/prodList')}" >{:L('TITLE_PRODUCT')}</a> <a class="current">{:L('TITLE_PRODUCT_LIST')}</a> </div>
	  </div>
	  <div class="container-fluid">
	    <div class="row-fluid">
	      <div class="span12">
	        <div class="widget-box">
	          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
	            <h5>{:L('TITLE_PRODUCT_LIST')}</h5>
	          </div>
	          <div class="widget-content nopadding">
	            <table class="table table-bordered table-striped">
	              <thead>
	                <tr>
	                  <th>{:L('TEXT_TITLE')}</th>
	                  <th>{:L('TEXT_IMAGE')}</th>
	                  <th>{:L('TEXT_PRICE')}</th>
	                  <th>{:L('TEXT_TAG')}</th>
	                  <th>{:L('TEXT_SALER')}</th>
	                  <th>{:L('TEXT_COMMENT_INFO')}</th>
	                  <th>{:L('TEXT_CREATED')}</th>
	                  <th>{:L('TEXT_ACTION')}</th>
	                </tr>
	              </thead>
	              <tbody>
	              	<volist name="list" id="item">
	                <tr class="odd gradeX">
	                  <td>{$item.title_zh}<br/>{$item.title_jp}</td>
	                  <td><img src="{:show_image($item['path'], '100_100')}" /></td>
	                  <td>￥{$item.price_zh}/{$item.price_jp}/{$item.shipping_name}</td>
	                  <td>{$item.tag_name}</td>
	                  <td>{$item.sale_name}</td>
	                  <td>{$item.comments}/{$item.sales}/{$item.views}</td>
	                  <td>{$item.created|date="Y-m-d H:i:s",###}</td>
	                  <td><button class="btn btn-inverse btn-mini" onclick="window.location.href('{:U('Product/proDel', array('pid' => $item.pid))}');">{:L('TEXT_DELETE')}</button></td>
	                </tr>
	            	</volist>
	              </tbody>
	            </table>
	          </div>
	        </div>
	      </div>
			<div class="pagination alternate" style="float:right;">
				{$page_show}
			</div>
	    </div>
	  </div>
	</div>

<include file="Public:footer" />