<include file="Public:header" />
<include file="Public:leftMenu" />
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb"> <a href="{:U('Index/index')}" title="{:L('text_goto_home')}" class="tip-bottom"><i class="icon-home"></i> {:L('TEXT_HOME')}</a> <a href="{:U('Product/prodList')}" >{:L('TITLE_PRODUCT')}</a> <a class="current">{:L('TITLE_PRODUCT_LIST')}</a> </div>
	  </div>
	  <div class="container-fluid">
	    <div class="row-fluid">
	      <div class="span12">
	        <div class="widget-box">
	          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
	            <h5>{:L('TITLE_PRODUCT_LIST')}</h5>
	          </div>
	          <div class="widget-content nopadding">
	            <table class="table table-bordered table-striped">
	              <thead>
	                <tr>
	                  <th>{:L('TEXT_TITLE')}</th>
	                  <th>{:L('TEXT_IMAGE')}</th>
	                  <th>{:L('TEXT_PRICE')}</th>
	                  <th>{:L('TEXT_CREATED')}</th>
	                  <th>{:L('TEXT_ACTION')}</th>
	                </tr>
	              </thead>
	              <tbody>
	              	<volist name="list" id="item">
	                <tr class="odd gradeX">
	                  <td>{$item.title_zh}<br/>{$item.title_jp}</td>
	                  <td><img src="{:show_image($item['path'], '100_100')}" width="100px"/></td>
	                  <td>
	                  	人名币：{$item.price_zh}
	                  	<br>
	                  	日元：{$item.price_jp}
	                  </td>
	                  <td>{$item.created|date="Y-m-d H:i:s",###}</td>
	                  <td>
	                  	<a class="btn" href="{:U('Product/editPro', array('pid' => $item['pid']))}" >编辑</a>
	                  	<button onclick="delPro('{$item.pid}');">删除</button>
	                  </td>
	                </tr>
	            	</volist>
	              </tbody>
	            </table>
	          </div>
	        </div>
	      </div>
			<div class="pagination alternate" style="float:right;">
				{$page_show}
			</div>
	    </div>
	  </div>
	</div>
<script type="text/javascript">
	function delPro(pid){
		if (!confirm('是否确认删除该条数据?')) return false;

		$.ajax({
			type:"POST",
			url:"{:U('Product/delPro')}",
			data:{pid:pid},
			success:function(data){
				if (data.status == '0') {
					window.location.reload();
				}else{
					alert(data.msg);
				}
				
			}
		});
	}
</script>
<include file="Public:footer" />