                          <div class="widget-content nopadding">
                            {$title}
                            <table class="table table-bordered table-striped">
                              <tbody>
                                <volist name="data" id="item">
                                <tr class="odd gradeX">
                                  <th>{$item.k}</th>
                                  <td>{$item.v}</td>
                                </tr>
                                </volist>
                              </tbody>
                            </table>
                          </div>